.product {
    display: flex;
    border-bottom: 1px solid lightgreen;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.product-name {
    color: blue;
    font-weight: 40;
}
.cart-button {
    background-color: goldenrod;
    color: black;
    width: 150px;
    height: 30px;
    border: 1px solid chocolate;
    border-radius: 5px;
    cursor: pointer;
}